body {
  background: hsl(257, 78%, 98%);
}

.wrapper {
  max-width: 600px;
  background-color: hsl(0, 0%, 100%);
  margin: 30px auto;
  padding: 2rem;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.06);
  border-radius: 1rem;
}
.search-form{
    display: flex;
    justify-content: center;
    padding-bottom: 1.85rem;
    border-bottom: 1px solid hsl(257, 78%, 98%);
}
.search-form__input {
  background: hsl(257, 78%, 98%);
  border: none;
  border-radius: 0.25rem;
  padding: 0.945rem 1.25rem;
  width: 110vw;
  font-size: 1rem;
}
.search-form__submit {
  border-radius: 0.25rem;
  background: hsl(257, 84%, 65%);
  color: hsl(0, 0%, 100%);
  padding: 0.945rem 0;
  width: 53.5vw;
  border: none;
  margin-left: 0.5rem;
}
footer{
    border-top: 1px solid hsl(257, 78%, 98%);
    padding-top: 2.5rem;
    text-align: center;
    color: hsl(254, 8%, 68%);
    
}
a{
    color: hsl(257, 84%, 65%);
}
.weather{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}
.weather__city {
margin-block: 1.25rem 0.65rem;
font-size: 2.375rem;
line-height: 3rem;

}
.weather__details {
  font-size: 1rem;
  line-height: 1.25rem;
  color: hsl(254, 8%, 68%);
  margin: 0;
}
.weather__details strong{
  color: hsl(342, 90%, 64%);
  font-weight: normal;
}
.weather__tempature-container {
  display: flex;
  margin-top: 1.875rem;
}
.weather__temperature {
  font-size: 5rem;
  line-height: 5rem;
  margin-left: 0.625rem;
  font-weight: 700;
}
.weather__icon {
  font-size: 3rem;
  margin-top: 0.625rem;
}
.weather__unit{
  position: relative;
  font-weight: 400;
  font-size: 1.75rem;
}